.change_images_wrapper {
    float: right;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
}

.change_images_title {
    margin-bottom: 8vh;
}

.change_images_body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
}

.change_home, .change_other_images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.change_home > h3 {
    margin-bottom: 1rem;
}

.change_home > input {
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 0.1rem;
}

.change_other_images > input {
    margin-bottom: 3rem;
}

#contact_imgg, #logo_imgg, #home_imgg {
    cursor: pointer;
}

.change_images_btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30vw;
}

.change_images_submit, .change_images_cancel {
    background-color: #fff;
    border-radius: 10px;
    height: 5vh;
    width: 7vw;
    cursor: pointer;
}

@media only screen and (max-width: 820px) {
    .change_images_body {
        flex-direction: column;
    }
}