.login_container{
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

.signin {
  background-color: #d3d3d3;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

.login {
  position: relative;
  height: 560px;
  width: 405px;
  margin: auto;
  padding: 60px 60px;
  background:center #555;   
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
}

.login_form {
  padding-top: 80px;
}

.login_title {
  border-bottom: 2px solid #1161ed;
}

.nonactive {
  color: rgba(255, 255, 255, 1);
}

.login_title {
  padding-left: 12px;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 300;
}

.login_title:first-child {
  padding-left: 0px;
}

.username, .password {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 1; 
  display: inline-block;
  position: relative;
  top: -65px;
  transition: all 0.5s ease-in-out;
  color: #eee;
}

.text {
  border: none;
  width: 89%;
  padding: 10px 20px;
  display: block;
  height: 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}

.text:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

.text:focus + .username, .password {
  opacity: 1;
}

#username, #password {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}



.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  font-size: 14px;
}

.login_title,
.username, .password,
.custom-checkbox {
  margin-left: 20px;
}

.signin {
  background-color: #1161ed;
  color: #FFF;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
}

.signin:hover {
  background: #4082f5;
  box-shadow: 0px 4px 20px -5px #4082f5;
  cursor: pointer;
}

.signin:focus {
  outline: none;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  top: 85px;
  position: relative;
}

.return_home {
    color: #eee;
}

.auth {
  transition: 0.5s;
  background-color: #fcc;
  color: #f00;
  border: 1px solid #f00;
  text-align: center;
  border-radius: 5px;
  display: none;
}

.not_auth {
  transition: 0.5s;
  background-color: #fcc;
  color: #f00;
  border: 1px solid #f00;
  text-align: center;
  border-radius: 10px;
  opacity: 1;
}