.category {
    width: 220px;
    height: 90%;
    padding: 0.5rem;
    margin-bottom: 3rem;
    border-radius: 10px;
    transition: 0.5s;
}

.category:hover {
    background-color: #f0f0ff;
}

.product_wrapper img {
    height: 200px;
    width: 200px;
}

.product_wrapper {
    text-decoration: none;
    color: #000;
}

.product_price{
    color: #777;
}

.price {
    margin-top: 2vh;
}

.product_value {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_description {
    width: 90%;
}

@media screen and (max-width: 500px){
      
}