.hero-container {
    height: 100%;
    width: 95vw;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
  }

  header {
    width: 93vw;
    height: 70vh;
  }

  .header_img {
    position: absolute;
    width: 93vw;
    height: 70vh;
    z-index: -1;
  }

  header > h1 {
    color: #fff;
    font-size: 50px;
    margin-left: 10vw;
    margin-top: 7rem;
  }

  header > p {
    margin-left: 10vw;
    color: #fff;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  .title {
    margin-top: 8vh;
  }

  .category_selector {
    float: right;
    width: 130px;
    height: 40px;
    color: #fff;
    background-color: #000;
    margin-bottom: 4vw;
    margin-top: 8vh;
    margin-right: 2vw;
    border-radius: 5px;
    border: 2px solid #444;
    cursor: pointer;
    z-index: 2;
  }

  .category_selector > p {
    text-align: center;
    padding-top: 0.3rem;
    z-index: 2;
  }

  .category_selector:hover {
    border-bottom: 4px solid #fff; 
    transition: all 0.2s ease-out;
  }

  .categories_name {
    float: right;
    transform: translateX(128px) translateY(45px);
    color: transparent;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 126px;
    height: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    visibility: hidden;
  }

  .categories_name > li {
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
  }

  .categories_name.active > li:hover {
    background-color: #111;
  }

  .categories_name.active {
    visibility: visible;
    background-color: #000;
    color: #fff;
    transform: translateX(128px) translateY(13vh);
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .products {
    float: left;
    height: 100%;
    width: 80vw;
    margin-bottom: 7vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 8vw;
  }

  .show_more {
    color: #111;
    margin-bottom: 15vh;
    cursor: pointer;
    background-color: #fff;
    height: 7vh;
    width: 15vw;
    font-size: 1rem;
    border-radius: 15px;
  }

  .hide_btn {
    opacity: 0;
  }

  @media screen and (max-width: 960px) {
    header > h1 {
      font-size: 40px;
      margin-top: 8rem;
    }
  }

  @media screen and (max-width: 868px) {
    header > h1 {
      font-size: 30px;
      margin-top: 6rem;
    }

    header > p {
      font-size: 15px;
    }

    .products {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 550px) {
      .products {
        grid-template-columns: 1fr;
      }
      .title {
        display: flex;
        align-items: center;
        height: 20vh;
      }
    }
  }
