.about {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  margin-top: 10vh;
}

.about > .aboutBottom > h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about > .aboutBottom > h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-top: 8vh;
}

.about > .aboutBottom > p {
  width: 80vw;
  font-size: 1.5rem;
  margin-top: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about > .aboutBottom > h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.about > .aboutBottom > img {
 display: block;
 width: 80vw; 
 height: 60vh;
 padding-top: 10vh;
 margin: auto;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10vh;
  margin-bottom: 15vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-columns: auto ;
  grid-gap: 3rem;
  float: center;
  margin: left;
  justify-content: center;
 }

 .card {
  height: 100%;
  width: 50vw;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background-color: #000;
  padding: 1rem;
  
 }

 .card > .info > h3 {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  width: 100%;
 }

 .card > .info > span {
  display: inline-block;
  font-size: 13px;
  color: #fff;
  line-height: normal;
  width: 100%;
 }


 @media screen and (max-width: 820px) {
  .about > .aboutBottom > p {
    font-size: 1rem;
  }

  .container {
      flex-direction: column;
  }
  .card {
      margin-bottom: 10vh;
      width: 40vw;
  }
 }

 @media screen and (max-width: 550px) {
     .card {
         width: 70vw;
         margin-bottom: 10vh;
     }
 }
