.change_login_info_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 105vh;
}

.change_login_info_container > h1 {
    margin-bottom: 13vh;
} 

.change_login_info {
    display: flex;
    flex-direction: column;
}

.change_login_info .change_title {
    padding-bottom: 2vh;
}

.change_login_info .change_text {
    margin-bottom: 5vh;
    border-radius: 15px;
    height: 5.5vh;
    width: 30vw;
}

.error_confirm {
    margin-bottom: 5vh;
    border-radius: 15px;
    height: 5.5vh;
    width: 30vw;
    border: 1px solid #f00;
}

.change_login_info .change_btns {
    display: flex;
    flex-direction: row;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
}

.can, .sub {
    background-color: transparent;
    border-radius: 15px;
    width: 75px;
    height: 30px;
    cursor: pointer;
}