.change_about_wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.change_about {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80vw;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin-top: 10vh;
    margin-left: 18vw;
  }

  .change_about > .aboutBottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .change_about > .aboutBottom > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .change_about > .aboutBottom > .company_name {
    text-align: center;
    font-size: 2rem;
    margin-top: 8vh;
    border-radius: 15px;
  }
  
  .change_about > .aboutBottom > .company_descr {
    width: 70vw;
    text-align: center;
    height: 30vh;
    font-size: 1.5rem;
    margin-top: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
  }
  
  .change_about > .aboutBottom > h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
  }
  
  .change_about > .aboutBottom > img {
   display: block;
   width: 65vw; 
   height: 60vh;
   padding-top: 10vh;
   margin: auto;
  }
  
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10vh;
    margin-bottom: 15vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-columns: auto ;
    grid-gap: 3rem;
    float: center;
    margin: left;
    justify-content: center;
   }
  
   .card {
    height: 100%;
    width: 50vw;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background-color: #000;
    padding: 1rem;
    
   }
  
   .card > .info > .vision_title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    width: 50%;
    text-align: center;
    border-radius: 15px;
   }
  
   .card > .info > .vision_desc {
    display: inline-block;
    font-size: 15px;
    line-height: normal;
    width: 100%;
    height: 20vh;
    text-align: center;
    border-radius: 15px;
   }

   .change_about_btns {
       width: 70%;
       height: 30vh;
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-top: -10vh;
   }

   .change_about_btns button {
       height: 7vh;
       width: 15vw;
       font-size: 15px;
   }
  
   .btn_edit_about_img {
     margin-top: 2vh;
     background-color: transparent;
     cursor: pointer;
   }

   .delete_vision_checkboxs .fa-trash {
     font-size: 16px;;
     color: #fff;
     margin-right: 0.7vw;
   }

   .delete_vision_checkboxs .delete_vision_checkbox {
     width: 1.2vw;
     height: 1.2vw;
   }

   @media screen and (max-width: 820px) {
    .change_about > .aboutBottom > .company_name {
      font-size: 1rem;
    }

    .change_about > .aboutBottom > .company_descr {
        height: 40vh;
    }
  
    .container {
        flex-direction: column;
    }
    .card {
        margin-bottom: 10vh;
        width: 40vw;
    }
   }
  
   @media screen and (max-width: 550px) {
       .card {
           width: 70vw;
           margin-bottom: 10vh;
       }
   }
  