.change_contact_wrapper {
    float: right;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.change_contact_wrapper h1 {
    margin-bottom: 10vh;
}

.change_contact_info {
    display: flex;
    flex-direction: column;
}

.change_contact_label {
    margin-bottom: 1vh;
    font-size: 22px;
}

.change_contact_input {
    margin-bottom: 4vh;
    height: 5vh;
    width: 40vw;
    border-radius: 15px;
    font-size: 15px;
    padding-left: 0.5vw;
}

.change_contact_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    margin-top: 7vh;
    margin-bottom: 10vh;
}

.change_contact_button {
    height: 5vh;
    width: 7vw;
    font-size: 15px;
    background-color: #fefefe;
    border-radius: 10px;
    cursor: pointer;
}