.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20vh;
}

.section1
   {

    display: flex;
    flex-direction: column;
    height:90vh;
    margin-top: 10vh ;
    width: 40vw;
    padding-left: 10vw;
    
    
  }
  .section1 textarea
 {
width: 35vw;
height: 20vh;
padding: 3vh;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;  
resize: vertical;
border-radius: 20px;
}
.section1 label 
{
display:block;
padding-top: 3vh;
padding-bottom: 2vh;
color: #000;
text-align: left;
}

.section1 .text-box {
  width: 35vw;
  height: 5vh;
}

.section1 .send {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 5vw;
  width: 50vw;
}


.section1 .button {
  height: 8vh;
  width: 20vw;
  margin-top: 3vh;
  cursor: pointer;
  font-size: 0.9rem;
  margin-left: -2vw;
}

.section1 input {
  border-radius: 15px;
}

 .section2 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 40vw;
}

.section2 > img {
  height: 60vh;
  width: 20vw;
  margin-bottom: 15vh;
}

.confirmation {
  border: 2px solid green;
  background-color: lightgreen;
  color: green;
  border-radius: 15px;
  height: 8vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  margin-left: -10vw;
  z-index: -1;
  transition: 0.5s;
  opacity: 0;
}

.activee {
  border: 2px solid green;
  background-color: lightgreen;
  color: green;
  border-radius: 15px;
  height: 8vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  margin-left: -10vw;
  z-index: -1;
  transition: 0.5s;
  z-index: -1;
  opacity: 0;
  animation-name: confirm;
  animation-duration: 4s;
  opacity: 0;
}

@keyframes confirm {
  20% {
    transform: translateX(15vw);
    opacity: 1;
  }
  60% {
    transform: translateX(15vw);
    opacity: 1;
  }
  80%{
    transform: translateX(15vw);
    opacity: 1;
  }
  90% {
    transform: translateX(0vw);
    opacity: 0;
  }
}

@media only screen and (max-width: 1020px) {
  .confirmation{
    width: 30vw;
  }

  .activee {
    width: 30vw;
  }
}

@media only screen and (max-width: 820px) {
   .section2  {
       display: none;
    }

    .section1{
      width: 80vw;
      padding-left: 0%;
    }

    .section1 input {
      width: 70vw;
    }

    .section1 textarea {
      width: 70vw;
    }

    .section1 > .send {
      padding-left: 0%;
    }

    .section1  button {
      width: 60vw;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media only screen and (max-width: 700px) {
    .confirmation{
      width: 50vw;
    }
  
    .activee {
      width: 50vw;
    }
  }

  @media only screen and (max-width: 400px) {
    .confirmation{
      width: 70vw;
    }
  
    .activee {
      width: 70vw;
    }
  }