
.side_bar {
    position: fixed;
    left: 0;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    overflow-y: scroll;
}

.side_bar .top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.side_bar .toggle {
    display: none;
}

.side_bar .brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.side_bar span {
        font-size: 1rem;
        color: #fff;
        font-family: "Permanent Marker", cursive;
}

.side_bar .links {
    display: flex;
    cursor: pointer;
}


.side_bar ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      
}


.side_bar li {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 0.6rem;
}

.side_bar li:hover {
    background-color: #c5970c;
}


.side_bar i {
    color: white;
}
                
.side_bar a {
    text-decoration: none;
    display: flex;
    
    color: white;
} 

