.box {
    margin-bottom: 6vh;
    background-color: rgb(204, 202, 202);
    padding: 1rem;
}

.emails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.emails_info  {
    height: 300px;
    width: 70vw;
    margin: 5vh 0;
    margin-left: 25vw;
    padding: 10px;
}

.emails_info_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;
}

.email {
    float: right;
}

time {
    float: right;
}

