.product-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15vh;
    margin-bottom: 20vh;
}

.product_left, .product_right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
}

.product-name {
    margin-bottom: 5vh;
}

.product-desc {
    margin-bottom: 7vh;
    width: 40vw;
    text-align: center;
}

.original_price {
    margin-bottom: 2vh;
    color: #777;
}

.product-cat {
    margin-bottom: 7vh;
}

.final_price {
    margin-bottom: 3vh;
}

.final_discount {
    margin-bottom: 7vh;
}

.return_to_home {
    text-decoration: none;
    background-color: black;
    color: #fff;
    border-radius: 20px;
    height: 7vh;
    width: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product_img {
    height: 75vh;
    width: 40vw;
}

@media screen and (max-width: 700px) {
    .return_to_home {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .return_to_home {
        font-size: 10px;
    }
}